<footer class="div-footer text-light mt-4 py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Contacto</h5>
                <ul class="list-unstyled">
                    <li><i class="bi bi-telephone-fill"></i> Teléfono: 123-456-789</li>
                    <li><i class="bi bi-envelope-fill"></i> Correo: info@academia.com</li>
                    <li><i class="bi bi-geo-alt-fill"></i> Dirección: Dirección de la academia</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h5>Enlaces</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Cursos</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col text-center">
                <p>&copy; 2023 Academia. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>
