@page "/cursos"

<PageTitle>Cursos</PageTitle>

<div>
    <h1>Cursos</h1>

    <button class="btn btn-primary" @onclick="MostrarCursos">Mostrar Cursos</button>

    <div class="border border-2 rounded card-group m-3">
        @if (cursos != null)
        {
            @foreach (var curso in cursos)
            {
                <div class="card m-2 rounded">
                    <img class="card-img-top" src="@curso.img" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">@curso.nombre</h4>
                        <p class="card-text">@curso.descripcion</p>
                    </div>
                </div>
            }
        }
    </div>
</div>

@code {
    private FrontCursos.Services.ApiService apiService; 
    private List<FrontCursos.Models.Curso> cursos = new List<FrontCursos.Models.Curso>();

    [Inject]
    private HttpClient HttpClient { get; set; }

    protected override void OnInitialized()
    {
        apiService = new FrontCursos.Services.ApiService(HttpClient);
    }

    private async Task MostrarCursos()
    {
        try
        {
            cursos = await apiService.GetCursos();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al obtener los cursos: {ex.Message}");
        }
    }
}
